@tailwind base;
@tailwind components;
@tailwind utilities;


.contact-bg {
    background-image: url("/public/contact-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  